/* You can add global styles to this file, and also import other style files */

// @import "~bootstrap-icons/font/bootstrap-icons.css";

// .bi {
//   font-family: 'bootstrap-icons' !important;
//   src: url('/assets/fonts/bootstrap-icons.woff2') format('woff2'),
//        url('/assets/fonts/bootstrap-icons.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

  html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
